.tailleParagraphe{
    font-size: 20px;
    font-size: 3em;
    text-decoration:  underline;
    text-transform: uppercase;
}

.ma-boite{
    border: 3px solid red;
    background-color: blueviolet;
    padding: 20px;
    margin: 30px;
    width: 50%;
    height: 200%;
    text-decoration: underline;
    }

    /* TD2 */

