/* J'importe mes typos personalisées pour pouvoir les utiliser dans mon document */
@import url('../fonts/stylesheet.css');

/*
 1 - Header
 2 - Footer
 3 - Typos, styles généraux
 4 - Section: Hero
 5 - Section: Our Works
 6 - Section: Pricing Table
 7 - Section: Contact
*/

/* 1 - Header
--------------------------------------------------
*/
.navbar .navbar-brand {
  font-family: 'Pontiac', sans-serif;
  font-size: 36px;
  letter-spacing: .2px;
  font-weight: bold;
}

.navbar .nav-link {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
}

.navbar-padding-gap {
  padding-top: 56px;
}

/* 2 - Footer
--------------------------------------------------
*/
.main-footer {
  position: relative;
  padding: 60px 0;
  border: 1px solid var(--bs-danger);
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin: 0px 4px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: 18px;
}

.circle-top {
  display: block;
  text-decoration: none;
  position: absolute;
  top: -27px;
  left: auto;
  right: auto;
  width: 54px;
  height: 54px;
  line-height: 54px;
  font-size: 24px;
  background-color: #e74c3c;
}
.circle-facebook {
  background-color: #3B5998;
}
.circle-youtube {
  background-color: #e74c3c;
}
.circle-instagram {
  background-color: #FF006C;
}

/* 3 - Typos, styles généraux
--------------------------------------------------
*/
h1, h2, h3, h4, h5, h6 {
  font-family: 'Pontiac', sans-serif;
  font-weight: normal;
}


/* 4 - Section: Hero
--------------------------------------------------
*/
#hero {
  /* arrière plan de la section */
  background: url('../imgs/hero-image.jpg') no-repeat center bottom / cover;
}
#hero .container {
  /* conteneur flex pour l'alignement vertical centré */
  height: calc(100vh - 80px);
  min-height: 440px; /* pour les mobiles */
}
@media (min-height: 768px) { /* pour 768px et + */
  #hero .container {
    min-height: 540px;
  }
}



/* 5 - Section: Our Work
--------------------------------------------------
*/

.images .w-25 {
  width: calc(25% - 1.5rem) !important;
}

/* 6 - Section: Pricing Table
--------------------------------------------------
*/
/* Espace avant la section de 120px */
#pricing {
  margin-top: 120px;
}

h1.custom-title {
  font-family: "Pontiac light", sans-serif;
  font-size: 48px;
  line-height: 62px;
  letter-spacing: -0.7px;
  margin-bottom: 20px;
}

p.custom-sous-title{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #ABABAB
}

.container h1{
  font-family: "Pontiac light", sans-serif;
  font-size: 48px;
  letter-spacing: -5px;
  color: #4D5C6B;
}

.container h5 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #ABABAB;
}

h6.col--1 {
  font-family: "Pontiac light", sans-serif;
  font-size: 36px;
}

.container button{
  width: 220px;
  height: 40px;
}

.background-grey {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 75%);
  background-color: grey;
  z-index: -1;
}


/* 7 - Section: Contact
--------------------------------------------------
*/

#contact {
  background-color: #2C3E50;
  padding: 20px;
  border-radius: 8px;
  margin-top: 100px;
}

.container-contact-us h1{
  margin-top: 120px;
  font-family: "Pontiac light", sans-serif;
  font-size: 48px;
  line-height: 62px;
  letter-spacing: -0.7px;
  color: white;
}

.container-contact-us p{
  font-family: Arial, Helvetica, sans-serif;
  color: #ABABAB;
  font-size: bold;
  font-size: 18px;
}

.Champ.contact input::placeholder,
.Champ.contact textarea::placeholder,
.Champ.contact select::placeholder {
  color: #ABABAB; 
  font-size: 18px;
}

#message {
  width: 100%; 
  height: 200px; 
}



