@font-face {
  font-family: 'Pontiac';
  src: url('pontiac-light.otf');
  font-weight: normal;
}
@font-face {
  font-family: 'Pontiac';
  src: url('pontiac-black.otf');
  font-weight: bold;
}
@font-face{
  font-family: 'Pontiac light';
  src: url('pontiac-light.otf');
}